* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

*:focus {
    outline: none;
}

body {
    background-color: #ecf0f1;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    overflow-x: hidden; /* IE horizontal scroll bar fix*/
}

h1, h2, h3, h4, h5 {
    display: block;
    font-weight: 400;
}

li, span, p, a, h1, h2, h3, h4, h5 {
    line-height: 1;
}

p {
    display: block;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 0;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

title {
    display: none;
}

@font-face{
    font-family: lobster;
    src: url('../fonts/lobster.otf');
}

header{
    font-family: 'lobster', "Palatino Linotype", "Book Antiqua", Palatino, serif;
    width: 100%;
    margin: 0 0 20px 0;
}

header h1{
    font-size: 4em;
}

div.center{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 100%;
}

.unban-timer, #status {
    text-align: center;
    display: block;
}

.unban-row, #status p {
    color: #a8babd;
    font-family: "Courier New", monospace;
    font-size: 24px;
}

.unban-time {
    font-size: 30px;
}

.social-buttons {
    font-size: 0;
    margin: 20px 0 0 0;
}

.social-button {
    background-color: #fff;
    height: 90px;
    width: 90px;
    line-height: 90px; /* Make icons center on IE as well */
    margin: 0 10px;
    text-align: center;
    opacity: .99;
    border-radius: 20%;
    display: inline-block;
}

.social-button .fa {
    font-size: 38px;
    line-height: 38px;
    margin: auto;
    vertical-align: middle;

    -webkit-transition: all 0.18s;
    transition: all 0.18s;
}

.social-button.reddit .fa {
    color: #ff5700;
}

.social-button.twitter .fa {
    color: #3CF;
}

.social-button.youtube .fa {
    color: #DC4A38;
}

.social-button.twitch{
    position: relative;
    z-index: 1;
}

.social-button.twitch.live:before{
    position: absolute;
    bottom: -30px;
    content: "LIVE";
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: red;
    color: white;
    line-height: 22px;
    width: 100%;
    border-radius: 6px;
    left: 0;
}

.social-button.twitch.live:after{
    width: 0;
    height: 5px;
    position: absolute;
    content: "";
    bottom: -8px;
    left: calc(50% - 5px);
    border-top-left-radius: 100%;
    border: 5px solid transparent;
    border-bottom: 5px solid #ff0202;
}

.social-button.twitch .fa  { color: #6441a4; }
.social-button.discord .fa { color: #7289da; }
.social-button:hover .fa   { color: white;   }

.social-button.reddit:hover  { background-color: #ff5700; }
.social-button.twitter:hover { background-color: #3CF;    }
.social-button.youtube:hover { background-color: #DC4A38; }
.social-button.twitch:hover  { background-color: #6441a4; }
.social-button.discord:hover { background-color: #7289da; }

.button-github{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 8px;
    width: 40px;
    height: 40px;
}

.button-github img{
    opacity: 0.1;
    transition: opacity 0.18s;
}

.button-github:hover img{
    opacity: 0.6;
}